@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
  height: 4px; /* Thin scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #00CFF7; /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
  border-radius: 10px; /* Rounded track */
}

.marquee {
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(calc(-100% + 2.98388%));
  }
}
