@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
  height: 4px; /* Thin scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #00CFF7; /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
  border-radius: 10px; /* Rounded track */
}

.marquee {
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(calc(-100% + 2.98388%));
  }
}


.custom-cursor-wrapper {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
}

.custom-cursor-wrapper svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 640px) {
  .custom-cursor-wrapper {
    display: none !important;
  }
}
@keyframes jiggle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(1deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(1deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.jiggle {
  animation: jiggle 0.6s ease-in-out;
}
